/*
Author: Wanda Azhar
Location: Michigan, USA
Profession: Web Developer
Skills: HTML, CSS, JavaScript, React.js, Next.js, Node.js, Linux (Ubuntu)
Contact: wandaazhar@gmail.com
Description: A passionate web developer based in Michigan, USA, with expertise in crafting engaging and responsive web experiences. Proficient in a wide range of technologies including HTML, CSS, JavaScript, React.js, Next.js, and Node.js. Enthusiastic about optimizing user experiences and creating visually appealing websites. With a background in Linux and Ubuntu, I bring a unique perspective to my coding projects. Get in touch to collaborate on exciting web development ventures.
*/


@import '../../styles/variable.scss';
@import '../../styles//responsive.scss';

.adsOne {
  margin-top: 2rem;
  background: $primary;
  color: $white;
  min-height: 27.7rem;
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    .box-container {
      border-radius: 1rem;
      margin: 0 auto;
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h1 {
        text-align: center;
        font-size: 3.6rem;
        margin-bottom: 2rem;
      }

      .icon {
        width: 1.5rem;
        margin-right: 1rem;
        margin-left: -2rem;
        position: absolute;
        color: $white;
      }

      span {
        text-align: center;
        font-size: 1.6rem;
        color: $white;
        text-decoration: underline;
      }

      p {
        text-align: center;
        font-size: 1.6rem;
        color: $white;
      }
    }


  }
}