  /*
Author: Wanda Azhar
Location: Michigan, US
Profession: Web Developer
Skills: HTML, CSS, JavaScript, React.js, Next.js, Node.js, Linux (Ubuntu)
Contact: wandaazhar@gmail.com
Description: A passionate web developer based in Michigan, USA, with expertise in crafting engaging and responsive web experiences. Proficient in a wide range of technologies including HTML, CSS, JavaScript, React.js, Next.js, and Node.js. Enthusiastic about optimizing user experiences and creating visually appealing websites. With a background in Linux and Ubuntu, I bring a unique perspective to my coding projects. Get in touch to collaborate on exciting web development ventures.
*/


  @import '../../styles/variable.scss';
  @import '../../styles//responsive.scss';

  .commitment {
    background-color: #FFF0F8;
    padding: 6rem 0;
    color: $grey;

    .container {
      .box-container {
        display: flex;
        gap: 2rem;

        @include tablet820 {
          display: grid;
          gap: 3rem;
          grid-template-columns: repeat(1, 1fr);
          grid-template-rows: repeat(auto-fit, 1fr);
        }

        @include tablet {
          flex-direction: column;
        }

        .col-left {
          flex: 2;

          .title {
            font-size: 2rem;
          }

          h1 {
            font-size: 2.8rem;
            line-height: 1.2;
            margin-top: 1rem;
          }

          .desc {
            font-size: 1.8rem;
            line-height: 3rem;
            margin-top: 2rem;
          }
        }

        .col-right {
          flex: 1;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 2rem;
          align-items: center;
          justify-items: center;

          @include tablet820 {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-template-areas:
              'one two'
              'three three';
          }

          .images {
            width: 15rem;
            height: 30rem;
            overflow: hidden;
            border-radius: 1rem;

            @include tablet {
              width: 19rem;
            }

            @include smallPhone {
              width: 17rem;
            }

            .img {
              object-fit: cover;
              width: 100%;
              height: 100%;
            }
          }

          .one {
            @include tablet820 {
              width: 100%;
              height: 30rem;
              grid-area: one;
            }
          }

          .two {
            @include tablet820 {
              width: 100%;
              height: 30rem;
              grid-area: two;
            }
          }

          .three {
            @include tablet820 {
              width: 100%;
              height: 30rem;
              grid-area: three;
            }
          }

          img {
            width: 50rem;
            height: 50rem;
            object-fit: contain;
          }
        }
      }
    }
  }